.avatar-list {
    text-decoration: none !important;
    margin-left: 20px;
    width: 60px !important;
    height: 60px !important;
  }
  .play-icon {
    color: #badb9a !important;
    width: 25px !important;
    height: 25px !important;
  }
  .edit-icon {
    color: #9bc6ee !important;
    width: 25px !important;
    height: 25px !important;
  }
  .pause-icon {
    color: #636462 !important;
    width: 25px !important;
    height: 25px !important;
  }
  .erreur-icon {
    color: #eebada !important;
    width: 25px !important;
    height: 25px !important;
  }
  .archives-icon {
    color: #636462 !important;
    width: 25px !important;
    height: 25px !important;
  }
  