.avatar-list {
  text-decoration: none !important;
  margin-left: 20px;
  width: 50px !important;
  height: 50px !important;
}
.play-icon {
  color: #BADB9A
!important;
  width: 20px !important;
  height: 20px !important;
}
.edit-icon {
  color: #9BC6EE
!important;
  width: 20px !important;
  height: 20px !important;
}
.pause-icon {
  color: #636462
!important;
  width: 20px !important;
  height: 20px !important;
}
.erreur-icon {
  color: #EEBADA
!important;
  width: 20px !important;
  height: 20px !important;
}
.archives-icon {
  color: #636462
!important;
  width: 20px !important;
  height: 20px !important;
}